<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ongc_Delhi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <script src="/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="order_script.js"></script>
</head>
<body>

    <section id = "navbar" class="gradient-background" style="margin-top: 20px;">
        <img src = "/pics/ongc-recruitment.png" alt="ongc logo" height="100" style ="float: left; margin-right: 10px; margin-left: 20px;">
        <img src ="./pics/delhi_intranet.png" alt  = "ongc delhi intranet logo" height="90" width="" style="float: left; margin-left: 10px;">
        <img src="./pics/g20.png" alt="G20 logo" style="float: right; margin-right: 80px;" height ="100" >
        



        
        <div class="container" >
            <header class="d-flex justify-content-center py-3 text-center">
     
              <ul class="nav nav-pills">
                <li class="nav-item">
                    <div class="home_button">
                        <a href="http://127.0.0.1:3000"><button>Home</button></a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button>ONGC Links</button>
                        <div class="dropdown-options">
                          <a href="https://cure.ongc.co.in/login">CURE</a>
                          <a href="https://webice.ongc.co.in/irj/portal">Webice</a>
                          <a href="http://gyanodyan.ongc.co.in/">Gyanodyan</a>
                          <a href="https://reports.ongc.co.in/wps/portal/reports/login">ONGC Reports</a>
                          <a href="https://eacscambay.ongc.co.in:8443/">EACS Attendence Portal</a>
                          <a href="https://www.ongcindia.com/wps/wcm/connect/en/home/">ONGC India</a>
                          <a href="https://bandhan.ongc.co.in/">Bandhan</a>
                          <a href="https://www.ongcvidesh.com/">ONGC Videsh</a>
                          <a href="https://www.mrpl.co.in/">MRPL</a>
                          <a href="https://tenders.ongc.co.in/">ONGC Tenders</a>
                          <a href="http://10.205.92.9:8080/feedback/login.php">IT Service feedback form</a>
                          <a href="https://mail.ongc.co.in/">ONGC Webmail</a>
                          <a href="http://10.205.92.9/storage/circular/docs/OO%20CH%20RH%202023.pdf">Holiday List 2023</a>
                          <a href="http://10.205.92.9/imp_num">Important Numbers</a>
                          <a href="http://10.205.92.9/directory">Telephone Directory</a>
                          <a href="http://10.205.92.9/hr/swachh">Swachhta E-Pledge</a>
                          <a href="http://10.205.94.177/wdf/index.html">WDF</a>
                        </div>
                      </div></a></li>

                </li>
                <li class="nav-item">
                    <div class="dropdown">
                    <button>Other Intranets</button>
                    <div class="dropdown-options">
                      <a href="http://10.205.67.227/">Ahmedabad</a>
                      <a href="http://10.205.64.4/">Ankleshwar</a>
                      <a href="http://10.205.208.17/agartala2018/">Agartala</a>
                      <a href="http://10.205.181.243/">Assam</a>
                      <a href="http://10.205.92.9">Cambay</a>
                      <a href="http://10.205.206.237/">CBM Bokaro</a>
                      <a href="http://10.205.104.11/">Chennai</a>
                      <a href="http://10.205.3.145/newHq/newHq.aspx">Dehradun</a>
                      <a href="http://10.205.218.195/">EOA Kakinada</a>
                      <a href="http://10.205.150.100/">Goa</a>
                      <a href="http://10.205.159.58/hazirahindi/default.asp">Hazira</a>
                      <a href="http://10.205.19.11/">IDT</a>
                      <a href="http://10.205.188.55/">Jorhat</a>
                      <a href="http://10.205.96.40/">Karaikal</a>
                      <a href="http://10.205.204.254/">Kolkata</a>
                      <a href="http://10.205.82.120/">Mehsana</a>
                      <a href="http://10.205.122.39/mr/">Mumbai</a>
                      <a href="http://10.205.100.244/">Rajahmundry</a>
                      <a href="http://10.205.197.201/">Silchar</a>
                      <a href="http://10.205.55.5/">Vadodara</a>
 
                    </div>
                  </div></a></li>
                
                <li class="nav-item">
                    <div class="dropdown">
                    <button>Departments</button>
                    <div class="dropdown-options">
                    <a href="">Asset Cell</a>
                      <a href="">Surface Team</a>
                      <a href="">Well Services</a>

                        
                      
 
                    </div>
                  </div></a></li>
                <li class="nav-item">
                    <div class="disha_button">
                        <a href="https://disha.ongc.co.in/ProcessPortal/login.jsp"><button>Disha</button></a>
                    </div>

                </li>
                <li class="nav-item">
                    <div class="about_button">
                        <a href="https://ongcindia.com/web/eng/about-ongc/ongc-at-a-glance"><button>About</button></a>
                    </div>
                </li>
              </ul>
            </header>
          </div>
      

    </section>
    <style>
        #navbar .nav-link {
            color: #8C000D;
            font-size: 20px;
            align-items: center;
        }
    </style>

<div class="grid-container0" style="margin-top: 35px;">
    <div class="grid-item0" class="date-grid">
       
        
        <h1> <%= currentDateTime %></h1>
        
    </div>
    <div class="grid-item0" class = "weather-grid">
        <h2>Weather</h2>
        <p style="display: inline; margin-right: 30px;">Temperature: <%= temperature %>°C</p>
        <p style="display: inline;">Description: <%= description %></p>
        <img src=" <%= imageURL %> ">
    </div>
    
</div>

<div class="grid-container1" style="margin-top: 35px;">
    <div class="grid-item1" class="news-grid">
        <h4 >ONGC gets first woman CMD Alka Mittal </h4>
        <p>Alka Mittal took over as Director—HR of Oil and Natural Gas Corporation (ONGC) in December 2018 and was also the first woman to hold the 
            post of a full-time director on the board of ONGC.</p>

        <img src="./pics/ongc_news.webp" alt="ongc news image" height="250" style="display: block; margin: 0 auto;">
        
    </div>
    <div class="grid-item1" class = "production-grid">
        <h2>OIL PRODUCTION</h2>

        <h3 id="today"></h3>
        <h3 id="average"></h3>
        <h3 id="required"></h3>
        <h3 id="monthlyTarget"></h3>
        <h3 id="yearlyTarget"></h3>   
        <img src= "./pics/oil_production.svg" alt ="oil_production graph " height="100px">
    </div>
    <div class="grid-item1" class="events-grid">
        <h2>UPCOMING EVENTS</h2>
        <ul>
        <li>PSPB - Kabaddi (Ahmedabad) & Basketball (Jaipur & Delhi) hosted by ONGC</li>
        <li>"Simultaneous Chess" event conducted by Grand Master K.Sasikiran at Delhi, Hyderabad & Karaikal</li>
        <li>Table Tennis Training camp for employees & wards</li>
        <li>Summer camps for the employees wards at various work centres</li>
        <li>Summer Training program for students</li>
        <li><a href ="">past events:</a></li>
        </ul>
    </div>
</div>
<div class="grid-container2">
    <div class="grid-item2" class="orders_and_cirulars">
        <h1>Orders and Circulars</h1>
        <div id="orders_and_circulars">
           
        </div>
    </div>
    <div class="grid-item2"> 
        <h2>Top Stories </h2>
        <div class="grid-container3">
            <div class="grid-item3" class="story1">
                <img src="./pics/story1.jpeg" alt="man with a mic" height="250">
                <p>
                    The largest state-owned oil and gas company, ONGC, will become Net-Zero by 2038 and invest Rs 1 lakh crore by 2030 on energy transition projects to reduce carbon emissions, Chairman & CEO Arun Kumar Singh announced during an interaction with the journalists in Mumbai on 29 May 2023. By doing so, the Energy Maharatna will prepare roadmaps for net zero emissions as part of the nation's commitment to deal with the climate challenge crisis. "We have done our internal workings and are now confident that we can achieve net-zero for Scope-1 and Scope-2 emissions by 2038," Chairman told journalists here.
                    <a href="https://ongcindia.com/web/eng/detail?assetEntry=41263475">read more</a>
                </p>
                

            </div>
            <div class="grid-item3" class="story2">
                <img src="./pics/story2.jpeg" alt="important people" height="250">
                <p>
                    The MoU was signed by ONGC Executive Director-Chief BD&JV (Downstream, Petrochemical and New Energy), D Adhikari, and CEO of Techon Consulting Engineers, Ranjit Kumar, representing Iceland GeoSurvey, in the presence of ONGC Chairman & CEO Arun Kumar Singh and the Ambassador of Iceland in India His Excellency Gudni Bragason. The ceremony also witnessed the presence of Director (Technical & Field Services) Om Prakash Singh, Director (Production) Pankaj Kumar, Director (Exploration) Sushma Rawat, and Director (Human Resources) Manish Patil, senior executives of ONGC and embassy officials of Iceland.
                    <a href="https://ongcindia.com/web/eng/detail?assetEntry=45891470">read more</a>
                </p>
                

            </div>
           
        </div>

    </div>
</div>

<div class="grid-container4">
    <div class="grid-item4" class="imp_articles">
        <h2>Important Articles</h2>
        <div class="grid-container5">
            <div class="grid-item5">
                <img src="./pics/article1.jpeg" height="200" width="200">
                <p>
                    ONGC Videsh Limited signed a Memorandum of Understanding (MoU) on 7 February 2023 with Yacimientos Petroliferos Fiscales, Sociedad Anonima (YPF SA), Argentina on the sidelines of the maiden India Energy Week 2023, held in Bangalore, under the patronage of the Ministry of Petroleum & Natural Gas Hardeep Singh Puri.
                </p>
            </div>
            <div class="grid-item5">
                <img src="./pics/Article2.jpeg" height="200" width="200">
                <p>
                    Oil and Natural Gas Corporation Limited (ONGC), India's Energy Maharatna contributed Rs 100 crores to the Prime Minister's Citizen Assistance and Relief in Emergency Situations Fund (PM CARES Fund) on 31 March 2023. This contribution will facilitate the government's ongoing efforts to strengthen the healthcare infrastructure, specifically with respect to fighting COVID-19 and H3N2 influenza virus.
                </p>
            </div>
            <div class="grid-item5">
                <img src="./pics/article3.jpeg" hieght="250" width="150">
                <p>
                    Manish Patil has joined as the Director (Human Resource) of the Energy Maharatna Oil and Natural Gas Corporation Limited (ONGC). He took over the charge of the post of Director (HR) of India’s largest energy company on May 5, 2023.
                </p>
            </div>
        </div>
    </div>
    <div class="grid-item4" class="birthday">
        <h2>
            Happy birthday 🎊 
        </h2>
        <h3>
            Arun Kumar Singh
        </h3>
        <h4>
            (Chairman)
        </h4>
        <img src="./pics/birthday.jpeg" width="250">
        <br>
        <a href="" >Send wishes!</a>
        <br>
        <a href="">View wishes</a>

    </div>

</div>
<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-body-secondary">ONGC © 2023</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>Other Links
        </h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sitemap</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms of Use</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Disclaimer</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Contact Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Address: 5th to 15th floor, Scope Minar, Laxmi Nagar Commercial Complex, Laxmi Nagar, New Delhi, Delhi 110092</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Telephone No. 011-26750998;</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Fax No: 011-26750991/ 26129091</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">For registering any grievances, please visit ONGC Grievance portal:
            https://grievance.ongc.co.in</a></li>
         
        </ul>
      </div>

    </footer>
  </div>










</body>